.aboutme-photo-figure {
  width: 90%;
  height: 100%;
  justify-self: end;
}

.aboutme-photo {
  @include img-border-shadow(
    100%,
    100%,
    cover,
    $img-border-width,
    $img-border-color,
    $img-box-shadowcolor
  );
  object-position: 50% 50%;
  margin: auto;
  border-radius: 0.2rem;
}

// .aboutme-article-container {
//   align-self: center;
// }
/*  c'est le container/ celui qui est placé sur la grid qui est centré */

.aboutme-article {
  // height: 100%;
  // padding-right: 5em;
  // border-right: 2px solid gray;
  // border-bottom: 1px solid gray;
  // border-top: 1px solid gray;
  background-color: $text-background-color;
  border-radius: 0.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: -1; /* sinon pass au dessus navbar à cause de la position relative */
  h3 {
    width: 80%;
  }
  p {
    width: 80%;
  }
}
