.aboutme-photo-figure {
  width: 80%;
  height: 90%;
  align-self: center;
  justify-self: center;
}

.aboutme-photo {
  @include img-border-shadow(
    100%,
    100%,
    cover,
    $img-border-width,
    $img-border-color,
    $img-box-shadowcolor
  );
  object-position: 50% 50%;
  margin: auto;
}
.aboutme-article-container {
  align-self: center; 
}
/*  c'est le container/ celui qui est placé sur la grid qui est centré */

.aboutme-article {
  width: 80%;
  height: 100%;
  padding-right: 5em;
  border-right: 2px solid gray;
  // border-bottom: 1px solid gray;
  // border-top: 1px solid gray;

}

.aboutme-article h3 {
  font-size: $paragraph-h3-size;
}

.aboutme-article p {
  font-size: $paragraph-text-size;
}
