
.blog-article-common-style {
  background-color: $text-background-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.2rem;
  // overflow-y: scroll;
  h3 {
    width: 70%;
  }
  p {
    width: 70%;
  }
}

.blog-figure-article2 > img {
  object-position: 50% 75%;

}
