.galerie-container {
  display: flex;
  justify-content: center;
}


.galerie-figure2 > img {
  object-position: 50% 65%;
}

.galerie-figure6 > img {
  object-position: 50% 56%;
}

.galerie-figure8 > img {
  object-position: 50% 65%;
}

.galerie-figure9 > img {
  object-position: 50% 68%;
}