

.prestations-studio-article h3,
.prestations-domicile-article h3,
.prestations-exterieur-article h3 {
  font-size: $paragraph-h3-size;
}
.prestations-studio-article p,
.prestations-domicile-article p,
.prestations-exterieur-article p {
  font-size: $paragraph-text-size;
}
.prestations-studio-article,
.prestations-domicile-article,
.prestations-exterieur-article {
  align-self: start;
}


.prestations-studio-article-border,
.prestations-domicile-article-border,
.prestations-exterieur-article-border {
  width: 100%;
  height: 100%;
  border-left: 2px solid gray;
  // border-bottom: 1px solid gray;
  // border-top: 1px solid gray;
  padding-left: 2em;
}
