.studio-article-flex {
  background-color: $text-background-color;
  margin: $grid-margin-top-down $grid-margin-studio 0 $grid-margin-studio;
  border-radius: 0.2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.studio-article-flex > h3 {
  // padding: 2rem max(13rem, 2rem) 0 max(13rem, 2rem);
  // margin: 0 min(6rem, 1rem);
  padding: 1rem max(5rem, 0.5rem) 0 max(5rem, 0.5rem);
  margin-inline: auto;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 70%;
}
.studio-article {
  padding: 1rem max(5rem, 0.5rem) 1rem max(5rem, 0.5rem);
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 30%;
  p {
    margin-inline: auto;
  }
}