/*-- INDEX PRESTATION ==================================================== */
.index-prestations-container {
  @include grid-basic(repeat(3, 1fr), 0.1fr 0.1fr, 0 6vw) {
    grid-template-areas:
      "index-presta1 index-presta1 index-presta1"
      "index-presta2 index-presta3 index-presta4";
    margin: 0 $grid-margin-side-general;
    /* 0 parce que des top /down, et gauche et droite */
    /* margin: 10px 90px 10px 50px; : haut droite bas gauche */
    padding: 0.5rem 0rem 4rem 0rem;
  }
}
.index-prestation-gen > figure {
  height: 25vw;
}
.img-prestation-mediaQ3 {
  object-position: 50% 5%;
}
/* ================================================================== */
@media (max-width: 850px) {
  .index-prestations-container {
    @include grid-basic(1fr, 0.1fr 0.1fr, 1rem 0) {
      grid-template-areas:
        "index-presta1"
        "index-presta2"
        "index-presta3"
        "index-presta4";
      margin: 0 12vw;
      padding: 0.5rem 0rem 2rem 0rem;
    }
    @for $i from 1 through 4 {
      .index-prestation-#{$i} {
        grid-area: index-presta#{$i};
      }
    }
  }
  .index-prestation-gen > figure {
    height: 55vw;
  }
  .img-prestation-mediaQ3 {
    object-position: 50% 5%;
  }
}

/*-- INDEX ACTUALITE INSTA ==================================================== */

// .index-actu-insta-container {
//   @include grid-basic(repeat(4, 1fr), 0.2fr repeat(2, 40vh), 1rem) {
//     grid-template-areas:
//       "actuh3 actuh3 actuh3 actuh3"
//       "actufig1 actufig2 actufig3 actufig4"
//       "actufig5 actufig6 actufig7 actufig8";
//       /* check functions to get all actufig... wrote via function */
//     margin: 0rem $grid-margin-side-general;
//     padding: 3rem 0 5rem 0;
//   }
// }
// .index-actu-insta-container > h3 {
//   grid-area: actuh3;
// }

.index-actu-insta-container {
  display: grid;
  grid-template-columns: repeat(4, minmax(250px, 1fr));
  gap: 1rem;
  margin: 0rem $grid-margin-side-general;
  padding: 3rem 0 5rem 0;
}
.index-actu-insta-container > h3 {
  grid-column: 1 / span 4;
  align-self: center;
  padding: 1rem;
}
.index-actu-insta-figure {
  max-height: 20vw;
}
/* ================================================================== */
@media screen and (max-width: 1200px) {
  .index-actu-insta-container {
    grid-template-columns: repeat(2, minmax(250px, 1fr));
  }
  .index-actu-insta-container > h3 {
    grid-column: 1 / span 2;
  }
  .index-actu-insta-figure {
    max-height: 25vw;
  }
}
/* ================================================================== */
@media screen and (max-width: 850px) {
  .index-actu-insta-container {
    grid-template-columns: minmax(250px, 1fr);
  }
  .index-actu-insta-container > h3 {
    grid-column: 1 / 1;
  }
  .index-actu-insta-figure {
    min-height: 45vw;
  }
}

/* ================================================================== */
/*-- STUDIO ==================================================== */
/* ================================================================== */

.studio-article-container {
  background-color: $text-background-color;
  margin: $grid-margin-top-down $grid-margin-studio 0 $grid-margin-studio;
  display: grid;
  grid-auto-columns: minmax(min-content, 100ch);
  justify-content: center;
  gap: 1rem;
  h3 {
    justify-self: center;
    width: 80%;
    margin: 1rem 1rem 0 1rem;
  }
  .studio-article-0,
  .studio-article-1 {
    justify-self: center;
    margin: 0rem 1rem 1rem 1rem;
  }
}
/* ================================================================== */
@media screen and (min-width: 850px) {
  .studio-article-container {
    margin: $grid-margin-top-down $grid-margin-side-general 0
      $grid-margin-side-general;
  }
  h3 {
    grid-column: 1 / span 2;
  }
}

/*-- PHOTOS GRID ==================================================== */

.studio-container {
  @include grid-basic(1fr, repeat(2, 35vh), $grid-gap) {
    grid-template-areas:
      "fig1"
      "fig2"
      "fig3";
    margin: 0 $grid-margin-studio $grid-margin-top-down $grid-margin-studio;
  }
}
/* ================================================================== */
/* with min-width, its the min screen size to apply the following rules, lower than than change to the ones above,
 here mean its mobile first
 Can change for max-width for desktop first */
@media (min-width: 850px) {
  .studio-container {
    @include grid-basic(repeat(2, 1fr), repeat(2, 35vw), $grid-gap) {
      grid-template-areas:
        "fig1 fig1"
        "fig2 fig3";
      margin: 0 $grid-margin-studio $grid-margin-top-down $grid-margin-studio;
    }
    @for $i from 1 through 3 {
      .studio-figure#{$i} {
        grid-area: fig#{$i};
      }
      /* for somes reasons need to add back the area in the media otherwise scss do not see them 🤷‍♂️ */
    }
  }
}

/* ================================================================== */
/*-- GALERIE ==================================================== */
/* ================================================================== */

.galerie-contenant-de-photos {
  @include grid-basic(repeat(6, 1fr), repeat(8, 14vw), $grid-gap) {
    grid-template-areas:
      "img1 img1 img2 img2 img2 img2"
      "img1 img1 img3 img3 img4 img4"
      "img5 img5 img5 img5 img4 img4"
      "img5 img5 img5 img5 img4 img4"
      "img5 img5 img5 img5 img7 img7"
      "img6 img6 img6 img6 img7 img7"
      "img8 img8 img8 img9 img9 img9"
      "img8 img8 img8 img9 img9 img9";
    margin: $grid-margin-top-down $grid-margin-studio;
  }
}
/* ================================================================== */
@media screen and (max-width: 900px) {
  .galerie-contenant-de-photos {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      "img1 img1 img2 img2"
      "img1 img1 img2 img2"
      "img3 img3 img4 img4"
      "img5 img5 img4 img4"
      "img5 img5 img7 img7"
      "img6 img6 img7 img7"
      "img8 img8 img9 img9"
      "img8 img8 img9 img9";
  }
  @for $i from 1 through 9 {
    .galerie-figure#{$i} {
      grid-area: img#{$i};
    }
  }
}
/* ================================================================== */
@media screen and (max-width: 700px) {
  .galerie-contenant-de-photos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(16, minmax(200px, 30vw));
    grid-template-areas:
      "img1 img1"
      "img1 img1"
      "img2 img2"
      "img2 img2"
      "img3 img3"
      "img4 img4"
      "img4 img4"
      "img5 img5"
      "img5 img5"
      "img6 img6"
      "img7 img7"
      "img7 img7"
      "img8 img8"
      "img8 img8"
      "img9 img9"
      "img9 img9";
  }
  @for $i from 1 through 9 {
    .galerie-figure#{$i} {
      grid-area: img#{$i};
    }
  }
}

/* ================================================================== */
/*-- PRESTATION ==================================================== */
/* ================================================================== */

.prestations-grid1 {
  @include grid-basic(
    repeat(2, 1fr),
    repeat(2, $grid-prestation-rows-size),
    $grid-margin-prestation
  ) {
    grid-template-areas:
      "studioarticle studiofig1"
      "studioarticle studiofig2";
    margin: $grid-margin-top-down $grid-margin-side-general
      $grid-margin-prestations-big-down $grid-margin-side-general;
  }
}
.prestations-studio-article {
  grid-area: studioarticle;
}
.prestations-studio-figure1 {
  grid-area: studiofig1;
}
.prestations-studio-figure2 {
  grid-area: studiofig2;
}

@media screen and (max-width: 850px) {
  .prestations-grid1 {
    grid-template-columns: minmax(200px, 1fr);
    grid-template-rows: auto repeat(2, $grid-prestation-rows-size);
    margin: 15vw $grid-margin-side-general 15vw $grid-margin-side-general;
    /* auto will let row adapt depending of the content size: here the text */
    grid-template-areas:
      "studioarticle"
      "studiofig1"
      "studiofig2";
  }
  .prestations-studio-article {
    grid-area: studioarticle;
  }
  .prestations-studio-figure1 {
    grid-area: studiofig1;
  }
  .prestations-studio-figure2 {
    grid-area: studiofig2;
  }
}

/* ================================================================== */
.prestations-grid2 {
  @include grid-basic(
    repeat(2, 1fr),
    repeat(2, $grid-prestation-rows-size),
    $grid-margin-prestation
  ) {
    grid-template-areas:
      "domicilearticle domicilefig1"
      "domicilearticle domicilefig2";
    margin: $grid-margin-top-down $grid-margin-side-general
      $grid-margin-prestations-big-down $grid-margin-side-general;
  }
}
.prestations-domicile-article {
  grid-area: domicilearticle;
}
.prestations-domicile-figure1 {
  grid-area: domicilefig1;
}
.prestations-domicile-figure2 {
  grid-area: domicilefig2;
}

@media screen and (max-width: 850px) {
  .prestations-grid2 {
    grid-template-columns: minmax(230px, 1fr);
    grid-template-rows: auto repeat(2, $grid-prestation-rows-size);
    margin: 15vw $grid-margin-side-general 15vw $grid-margin-side-general;
    /* auto will let row adapt depending of the content size: here the text */
    grid-template-areas:
      "domicilearticle"
      "domicilefig1"
      "domicilefig2";
  }
  .prestations-domicile-article {
    grid-area: domicilearticle;
  }
  .prestations-domicile-figure1 {
    grid-area: domicilefig1;
  }
  .prestations-domicile-figure2 {
    grid-area: domicilefig2;
  }
}

/* ================================================================== */
.prestations-grid3 {
  @include grid-basic(
    repeat(2, 1fr),
    repeat(2, $grid-prestation-rows-size),
    $grid-margin-prestation
  ) {
    grid-template-areas:
      "extarticle extfig1"
      "extarticle extfig2";
    margin: $grid-margin-top-down $grid-margin-side-general
      $grid-margin-prestations-big-down $grid-margin-side-general;
  }
}
.prestations-exterieur-article {
  grid-area: extarticle;
}
.prestations-exterieur-figure1 {
  grid-area: extfig1;
}
.prestations-exterieur-figure2 {
  grid-area: extfig2;
}

@media screen and (max-width: 850px) {
  .prestations-grid3 {
    grid-template-columns: minmax(200px, 1fr);
    grid-template-rows: auto repeat(2, $grid-prestation-rows-size);
    /* auto will let row adapt depending of the content size: here the text */
    margin: 15vw $grid-margin-side-general 15vw $grid-margin-side-general;
    grid-template-areas:
      "extarticle"
      "extfig1"
      "extfig2";
  }
  .prestations-exterieur-article {
    grid-area: extarticle;
  }
  .prestations-exterieur-figure1 {
    grid-area: extfig1;
  }
  .prestations-exterieur-figure2 {
    grid-area: extfig2;
  }
}

/* ================================================================== */
/*-- BLOG ==================================================== */
/* ================================================================== */

.blog-grid {
  @include grid-basic(repeat(2, 1fr), repeat(3, 33rem), $grid-gap 0.1em) {
    grid-template-areas:
      "article1 art1fig"
      "art2fig article2"
      "article3 art3fig";
    margin: $grid-margin-top-down $grid-margin-side-general
      $grid-margin-prestations-big-down $grid-margin-side-general;
    width: 80%;
  }
}
.blog-article1 {
  grid-area: article1;
}
.blog-figure-article1 {
  grid-area: art1fig;
}
/* ================================================================== */
.blog-article2 {
  grid-area: article2;
}
.blog-figure-article2 {
  grid-area: art2fig;
}
/* ================================================================== */
.blog-article3 {
  grid-area: article3;
}
.blog-figure-article3 {
  grid-area: art3fig;
}

@media screen and (max-width: 850px) {
  .blog-grid {
    grid-template-columns: minmax(220px, 1fr);
    grid-template-rows: 25rem auto 25rem auto 25rem auto;
    gap: 0rem;
    margin: $grid-margin-top-down auto $grid-margin-prestations-big-down auto;
    grid-template-areas:
      "art1fig"
      "article1"
      "art2fig"
      "article2"
      "art3fig"
      "article3";
  }
  .blog-figure-article2,
  .blog-figure-article3 {
    margin-top: 2rem;
  }
  .blog-article1 {
    grid-area: article1;
  }
  .blog-figure-article1 {
    grid-area: art1fig;
  }
  /* ================================================================== */
  .blog-article2 {
    grid-area: article2;
  }
  .blog-figure-article2 {
    grid-area: art2fig;
  }
  /* ================================================================== */
  .blog-article3 {
    grid-area: article3;
  }
  .blog-figure-article3 {
    grid-area: art3fig;
  }
}

/* ================================================================== */
/*-- ABOUTME ==================================================== */
/* ================================================================== */

.aboutme-grid-container {
  @include grid-basic(2fr 1fr, repeat(2, 45vh), 0em) {
    grid-template-areas:
      "photo text"
      "photo text";
    margin: $grid-margin-top-down calc(10% + 2.7%) $grid-margin-top-down
      calc(10% - 2.7%);
  }
}
.aboutme-photo-figure {
  grid-area: photo;
}
.aboutme-article {
  grid-area: text;
}

@media screen and (max-width: 850px) {
  .aboutme-grid-container {
    grid-template-columns: minmax(220px, 1fr);
    grid-template-rows: auto;
    margin: $grid-margin-top-down $grid-margin-side-general
      $grid-margin-top-down $grid-margin-side-general;
    grid-template-areas:
      "photo"
      "text";
  }
  .aboutme-photo-figure {
    grid-area: photo;
  }
  .aboutme-article {
    grid-area: text;
  }
}
