nav {
    position: sticky;
    top: 0px;
    box-shadow: 0px 3px 4px rgba(116, 116, 116, 0.39), 0px -3px 4px rgba(143, 143, 143, 0.39);
  }
  ul {
    display: flex;
    justify-content: center;
    background-color: $navigation-background-color;
  }
  li {
    list-style-type: none;
    font-size: $navigation-text-fontsize;
    padding: $nav-li-padding;
    margin: $nav-li-margin;
  }
  .nav-link-text {
    text-decoration: none;
    text-transform: uppercase;
    color: $navigation-text-font-color;
    font-weight: bold;
  }