@charset "UTF-8";
/* ------------------------------------------------ */
/* ------------------------------------------------ */
/* ------------------------------------------------ */
/* ------------------------------------------------ */
/* ------------------------------------------------ */
/* ------------------------------------------------ */
/* ------------------------------------------------ */
/* ------------------------------------------------ */
/* NOT USED FOR TESTING PURPOSE------------------------------------------ */
/*-- INDEX PRESTATION ==================================================== */
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.index-prestation-1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: index-presta1;
}

.index-prestation-2 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: index-presta2;
}

.index-prestation-3 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: index-presta3;
}

.index-prestation-4 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: index-presta4;
}

/*-- INDEX ACTUALITE INSTA ==================================================== */
.index-actu-figure1 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: actufig1;
      justify-self: center;
}

.index-actu-figure2 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: actufig2;
      justify-self: center;
}

.index-actu-figure3 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: actufig3;
      justify-self: center;
}

.index-actu-figure4 {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  grid-area: actufig4;
      justify-self: center;
}

.index-actu-figure5 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: actufig5;
      justify-self: center;
}

.index-actu-figure6 {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: actufig6;
      justify-self: center;
}

.index-actu-figure7 {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: actufig7;
      justify-self: center;
}

.index-actu-figure8 {
  -ms-grid-row: 3;
  -ms-grid-column: 4;
  grid-area: actufig8;
      justify-self: center;
}

/*-- STUDIO ==================================================== */
.studio-figure1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: fig1;
}

.studio-figure2 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: fig2;
}

.studio-figure3 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: fig3;
}

/*-- GALERIE ==================================================== */
.galerie-figure1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: img1;
}

.galerie-figure2 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 4;
  grid-area: img2;
}

.galerie-figure3 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: img3;
}

.galerie-figure4 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  -ms-grid-column: 5;
  -ms-grid-column-span: 2;
  grid-area: img4;
}

.galerie-figure5 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: img5;
}

.galerie-figure6 {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: img6;
}

.galerie-figure7 {
  -ms-grid-row: 5;
  -ms-grid-row-span: 2;
  -ms-grid-column: 5;
  -ms-grid-column-span: 2;
  grid-area: img7;
}

.galerie-figure8 {
  -ms-grid-row: 7;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: img8;
}

.galerie-figure9 {
  -ms-grid-row: 7;
  -ms-grid-row-span: 2;
  -ms-grid-column: 4;
  -ms-grid-column-span: 3;
  grid-area: img9;
}

/*-- PRESTATION ==================================================== */
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h3 {
  margin: 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/* ==========================================================================
   normalize figure
   ========================================================================== */
figure {
  display: block;
  -webkit-margin-before: 0em;
          margin-block-start: 0em;
  -webkit-margin-after: 0em;
          margin-block-end: 0em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
}

/* ==========================================================================
   normalize ul
   ========================================================================== */
ul {
  -webkit-margin-after: 0px;
          margin-block-end: 0px;
  -webkit-margin-before: 0px;
          margin-block-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
}

.img-general-setting {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  border: 0.1em solid rgba(149, 149, 149, 0.555);
  -webkit-box-shadow: 2px 5px 5px rgba(172, 172, 172, 0.548);
          box-shadow: 2px 5px 5px rgba(172, 172, 172, 0.548);
  border-radius: 0.2rem;
}

/* used for home title & logo? */
/* used for navbar */
/* used for h3 */
/* used for p */
/**
 * Basic typography style for copy text
 */
body {
  font-size: 10px;
}

.h3-default {
  font-family: "Playfair Display", serif;
  font-size: 2.3em;
}

.paragraph-default {
  font-family: "Poppins", sans-serif;
  font-size: 1.3em;
}

/**
 * Clear inner floats
 */
.clearfix::after {
  clear: both;
  content: '';
  display: table;
}

/**
 * Main content containers
 * 1. Make the container full-width with a maximum width
 * 2. Center it in the viewport
 * 3. Leave some space on the edges, especially valuable on small screens
 */
/**
 * Hide text while making it readable for screen readers
 * 1. Needed in WebKit-based browsers because of an implementation bug;
 *    See: https://code.google.com/p/chromium/issues/detail?id=457146
 */
.hide-text {
  overflow: hidden;
  padding: 0;
  /* 1 */
  text-indent: 101%;
  white-space: nowrap;
}

/**
 * Hide element while making it readable for screen readers
 * Shamelessly borrowed from HTML5Boilerplate:
 * https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css#L119-L133
 */
header figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f5f0ea;
}

.header-img {
  width: 10rem;
  height: auto;
}

nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  -webkit-box-shadow: 0px 3px 4px rgba(116, 116, 116, 0.39), 0px -3px 4px rgba(143, 143, 143, 0.39);
          box-shadow: 0px 3px 4px rgba(116, 116, 116, 0.39), 0px -3px 4px rgba(143, 143, 143, 0.39);
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #e2dbd1;
}

li {
  list-style-type: none;
  font-size: 1.5em;
  padding: 0.5%;
  margin: 1%;
}

.nav-link-text {
  text-decoration: none;
  text-transform: uppercase;
  color: #44423f;
  font-family: "Cinzel", serif;
  font-size: 1.1em;
  font-weight: bold;
}

/*-- INDEX PRESTATION ==================================================== */
.index-prestations-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: 0.1fr 0.1fr;
      grid-template-rows: 0.1fr 0.1fr;
  gap: 0 6vw;
      grid-template-areas: "index-presta1 index-presta1 index-presta1" "index-presta2 index-presta3 index-presta4";
  margin: 0 12vw;
  /* 0 parce que des top /down, et gauche et droite */
  /* margin: 10px 90px 10px 50px; : haut droite bas gauche */
  padding: 0.5rem 0rem 4rem 0rem;
}

.index-prestation-gen > figure {
  height: 25vw;
}

.img-prestation-mediaQ3 {
  -o-object-position: 50% 5%;
     object-position: 50% 5%;
}

@media (max-width: 850px) {
  .index-prestations-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 0.1fr 0.1fr;
        grid-template-rows: 0.1fr 0.1fr;
    gap: 1rem 0;
        grid-template-areas: "index-presta1" "index-presta2"  "index-presta3"  "index-presta4";
    margin: 0 15vw;
    padding: 0.5rem 0rem 2rem 0rem;
  }
  .index-prestations-container .index-prestation-1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: index-presta1;
  }
  .index-prestations-container .index-prestation-2 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: index-presta2;
  }
  .index-prestations-container .index-prestation-3 {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: index-presta3;
  }
  .index-prestations-container .index-prestation-4 {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: index-presta4;
  }
  .index-prestation-gen > figure {
    height: 55vw;
  }
  .img-prestation-mediaQ3 {
    -o-object-position: 50% 5%;
       object-position: 50% 5%;
  }
}

/*-- INDEX ACTUALITE INSTA ==================================================== */
.index-actu-insta-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: 0.2fr (40vh)[2];
      grid-template-rows: 0.2fr repeat(2, 40vh);
  gap: 1rem;
      grid-template-areas: "actuh3 actuh3 actuh3 actuh3" "actufig1 actufig2 actufig3 actufig4" "actufig5 actufig6 actufig7 actufig8";
  margin: 0rem 12%;
  padding: 3rem 0 5rem 0;
}

.index-actu-insta-container > h3 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: actuh3;
}

/* check functions to get all actufig... wrote via function */
/* ================================================================== */
/*-- STUDIO ==================================================== */
/* ================================================================== */
.studio-article-container {
  background-color: #f8f7f6;
  margin: 2.5rem 8% 0 8%;
  display: -ms-grid;
  display: grid;
  grid-auto-columns: minmax(-webkit-min-content, 100ch);
  grid-auto-columns: minmax(min-content, 100ch);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
}

.studio-article-container h3 {
  -ms-grid-column-align: center;
      justify-self: center;
  width: 80%;
  margin: 1rem 1rem 0 1rem;
}

.studio-article-container .studio-article-0,
.studio-article-container .studio-article-1 {
  -ms-grid-column-align: center;
      justify-self: center;
  margin: 0rem 1rem 1rem 1rem;
}

@media screen and (min-width: 850px) {
  .studio-article-container {
    margin: 2.5rem 12% 0 12%;
  }
  h3 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / span 2;
  }
}

/*-- PHOTOS GRID ==================================================== */
.studio-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: (35vh)[2];
      grid-template-rows: repeat(2, 35vh);
  gap: 2em;
      grid-template-areas: "fig1" "fig2" "fig3";
  margin: 0 8% 2.5rem 8%;
}

/* with min-width, its the min screen size to apply the following rules, lower than than change to the ones above,
 here mean its mobile first
 Can change for max-width for desktop first */
@media (min-width: 850px) {
  .studio-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (60vh)[2];
        grid-template-rows: repeat(2, 60vh);
    gap: 2em;
        grid-template-areas: "fig1 fig1" "fig2 fig3";
    margin: 0 8% 2.5rem 8%;
  }
  .studio-container .studio-figure1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: fig1;
  }
  .studio-container .studio-figure2 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: fig2;
  }
  .studio-container .studio-figure3 {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: fig3;
  }
}

/* ================================================================== */
/*-- GALERIE ==================================================== */
/* ================================================================== */
.galerie-contenant-de-photos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  -ms-grid-rows: (25vh)[8];
      grid-template-rows: repeat(8, 25vh);
  gap: 2em;
      grid-template-areas: "img1 img1 img2 img2 img2 img2" "img1 img1 img3 img3 img4 img4" "img5 img5 img5 img5 img4 img4" "img5 img5 img5 img5 img4 img4" "img5 img5 img5 img5 img7 img7" "img6 img6 img6 img6 img7 img7" "img8 img8 img8 img9 img9 img9" "img8 img8 img8 img9 img9 img9";
  width: 90%;
  margin: 2.5rem 0;
}

/* ================================================================== */
/*-- PRESTATION ==================================================== */
/* ================================================================== */
.prestations-grid1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (30vh)[2];
      grid-template-rows: repeat(2, 30vh);
  gap: 0.3rem 0;
      grid-template-areas: "studioarticle studiofig1" "studioarticle studiofig2";
  margin: 2.5rem auto 10rem auto;
  width: 80%;
}

.prestations-studio-article {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: studioarticle;
}

.prestations-studio-figure1 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: studiofig1;
}

.prestations-studio-figure2 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: studiofig2;
}

.prestations-grid2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (30vh)[2];
      grid-template-rows: repeat(2, 30vh);
  gap: 0.3rem 0;
      grid-template-areas: "domicilearticle domicilefig1" "domicilearticle domicilefig2";
  margin: 2.5rem auto 10rem auto;
  width: 80%;
}

.prestations-domicile-article {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: domicilearticle;
}

.prestations-domicile-figure1 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: domicilefig1;
}

.prestations-domicile-figure2 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: domicilefig2;
}

.prestations-grid3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (30vh)[2];
      grid-template-rows: repeat(2, 30vh);
  gap: 0.3rem 0;
      grid-template-areas: "extarticle extfig1" "extarticle extfig2";
  margin: 2.5rem auto 10rem auto;
  width: 80%;
}

.prestations-exterieur-article {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: extarticle;
}

.prestations-exterieur-figure1 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: extfig1;
}

.prestations-exterieur-figure2 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: extfig2;
}

/* ================================================================== */
/*-- BLOG ==================================================== */
/* ================================================================== */
/* (repeat(2, 1fr), repeat(3, 50vh), $grid-gap 0.1em) */
.blog-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (50vh)[3];
      grid-template-rows: repeat(3, 50vh);
  gap: 2em 0.1em;
      grid-template-areas: "article1 art1fig" "art2fig article2" "article3 art3fig";
  margin: 2.5rem auto 10rem auto;
  width: 80%;
}

.blog-article1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: article1;
}

.blog-figure-article1 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: art1fig;
}

/* ================================================================== */
.blog-article2 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: article2;
}

.blog-figure-article2 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: art2fig;
}

/* ================================================================== */
.blog-article3 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: article3;
}

.blog-figure-article3 {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: art3fig;
}

/* ================================================================== */
/*-- ABOUTME ==================================================== */
/* ================================================================== */
.aboutme-grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  -ms-grid-rows: (45vh)[2];
      grid-template-rows: repeat(2, 45vh);
  gap: 0em;
      grid-template-areas: "photo text" "photo text";
  margin: 2.5rem calc(10% + 2.7%) 2.5rem calc(10% - 2.7%);
}

.aboutme-photo-figure {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: photo;
}

.aboutme-article {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: text;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #d6c7d4;
  -webkit-box-shadow: 0px -3px 4px rgba(119, 111, 118, 0.493);
          box-shadow: 0px -3px 4px rgba(119, 111, 118, 0.493);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footerfigure {
  margin-right: 6rem;
}

.footercopytxt {
  margin-left: 6rem;
  color: #6e6e6e;
  font-weight: bold;
}

.socialmedia {
  margin-left: 1em;
  margin-right: 1em;
  width: 3rem;
  height: auto;
}

/*-- INDEX MAIN ==================================================== */
.index-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.index-main-background {
  z-index: -1;
  background: no-repeat url(../img/Depositphotos_195188732_l-2015.jpeg);
  background-size: cover;
  background-position: 0% 20%;
  /*right or left && top/bottom*/
  height: 100vh;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: -275px;
}

.index-main-studio-title {
  font-family: "Cinzel Decorative", cursive;
  font-size: 5em;
  font-weight: bold;
  color: #3a3838;
  position: relative;
  top: 33%;
  left: 64%;
  text-align: left;
  width: 30%;
  height: auto;
}

/*-- BIENVENU MESSAGE ==================================================== */
.index-main-article-bienvenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f5f0ea;
  text-align: center;
  padding: 2rem 0;
}

.index-main-article-bienvenu h3 {
  text-align: center;
}

/*-- INDEX PRESTATION ==================================================== */
.index-prestations-backgroundcolor {
  background: white;
}

.index-prestations-container > h3 {
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

/* ========================================== */
.index-prestation-gen {
  background-color: #f8f7f6;
  border-radius: 0.2rem;
}

.index-prestation-gen h3 {
  text-align: center;
  padding: 0.5rem;
}

.index-prestation-gen p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem;
}

/*-- INDEX ACTUALITE INSTA ==================================================== */
.index-actu-insta-backgroundcolor {
  background-color: #f5f0ea;
}

.index-actu-insta-container > h3 {
  text-align: center;
}

.index-actu-img3 {
  -o-object-position: 70% 50%;
     object-position: 70% 50%;
}

.index-actu-img5 {
  -o-object-position: 20% 75%;
     object-position: 20% 75%;
}

.galerie-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.galerie-figure2 > img {
  -o-object-position: 50% 65%;
     object-position: 50% 65%;
}

.galerie-figure6 > img {
  -o-object-position: 50% 56%;
     object-position: 50% 56%;
}

.galerie-figure8 > img {
  -o-object-position: 50% 65%;
     object-position: 50% 65%;
}

.galerie-figure9 > img {
  -o-object-position: 50% 68%;
     object-position: 50% 68%;
}

.prestation-common-style {
  background-color: #f8f7f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0.2rem;
}

.prestation-common-style h3 {
  width: 80%;
  margin-top: 3rem;
}

.prestation-common-style p {
  width: 80%;
}

.fas {
  -webkit-box-shadow: 1px 1px 3px red, -1px -1px 3px red;
          box-shadow: 1px 1px 3px red, -1px -1px 3px red;
  color: rgba(189, 185, 180, 0.7);
  font-size: 3.5rem;
  padding: 1rem;
  border: 1px solid rgba(189, 185, 180, 0.7);
  border-radius: 0.2em;
}

.blog-article-common-style {
  background-color: #f8f7f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0.2rem;
}

.blog-article-common-style h3 {
  width: 70%;
}

.blog-article-common-style p {
  width: 70%;
}

.blog-figure-article2 > img {
  -o-object-position: 50% 75%;
     object-position: 50% 75%;
}

.aboutme-photo-figure {
  width: 90%;
  height: 100%;
  -ms-grid-column-align: end;
      justify-self: end;
}

.aboutme-photo {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  border: 0.1em solid rgba(149, 149, 149, 0.555);
  -webkit-box-shadow: 2px 5px 5px rgba(172, 172, 172, 0.548);
          box-shadow: 2px 5px 5px rgba(172, 172, 172, 0.548);
  border-radius: 0.2rem;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
  margin: auto;
  border-radius: 0.2rem;
}

.aboutme-article {
  background-color: #f8f7f6;
  border-radius: 0.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: -1;
  /* sinon pass au dessus navbar à cause de la position relative */
}

.aboutme-article h3 {
  width: 80%;
}

.aboutme-article p {
  width: 80%;
}

/*  c'est le container/ celui qui est placé sur la grid qui est centré */
/*# sourceMappingURL=main.css.map */