// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------

// /// Event wrapper
// /// @author Harry Roberts
// /// @param {Bool} $self [false] - Whether or not to include current selector
// /// @link https://twitter.com/csswizardry/status/478938530342006784 Original tweet from Harry Roberts
// @mixin on-event($self: false) {
//   @if $self {
//     &,
//     &:hover,
//     &:active,
//     &:focus {
//       @content;
//     }
//   } @else {
//     &:hover,
//     &:active,
//     &:focus {
//       @content;
//     }
//   }
// }

// /// Make a context based selector a little more friendly
// /// @author Kitty Giraudel
// /// @param {String} $context
// @mixin when-inside($context) {
//   #{$context} & {
//     @content;
//   }
// }

@mixin grid-basic($col, $row, $grid-gap: 0.1em 0.1em) {
    display: grid;
    grid-template-columns: $col;
    grid-template-rows: $row;
    gap: $grid-gap;
}

@mixin img-border-shadow($width, $height, $fit, $border-width, $border-color, $shadow-color) {
    width: $width;
    height: $height;
    object-fit: $fit;
    display: block;
    border: $border-width solid $border-color;
    box-shadow: 2px 5px 5px $shadow-color;
}

