// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------


// /// Regular font family
// /// @type List
// $text-font-stack: 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

// /// Code (monospace) font family
// /// @type List
// $code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;



// /// Copy text color
// /// @type Color
// $text-color: rgb(34, 34, 34) !default;

// /// Main brand color
// /// @type Color
// $brand-color: rgb(229, 0, 80) !default;

// /// Light grey
// /// @type Color
// $light-grey: rgb(237, 237, 237) !default;

// /// Medium grey
// /// @type Color
// $mid-grey: rgb(153, 153, 153) !default;

// /// Dark grey
// /// @type Color
// $dark-grey: rgb(68, 68, 68) !default;


// /// Container's maximum width
// /// @type Length
// $max-width: 1180px !default;



// /// Breakpoints map
// /// @prop {String} keys - Keys are identifiers mapped to a given length
// /// @prop {Map} values - Values are actual breakpoints expressed in pixels
// $breakpoints: (
//   'small': 320px,
//   'medium': 768px,
//   'large': 1024px,
// ) !default;


// /// Relative or absolute URL where all assets are served from
// /// @type String
// /// @example scss - When using a CDN
// ///   $base-url: 'http://cdn.example.com/assets/';
// $base-url: '/assets/' !default;


$header-background-color: rgb(245, 240, 234);
$header-logo-size: 15em;
/* ------------------------------------------------ */
$navigation-background-color: rgb(226, 219, 209);
$navigation-text-font-color: rgb(68, 66, 63);
$navigation-text-fontsize: 0.9rem;
$nav-li-margin: 1%;
$nav-li-padding: 0.5%;
/* ------------------------------------------------ */
$footer-background-color: rgb(214, 199, 212);
$footer-copyright-fontcolor: rgb(110, 110, 110);
$footer-copyright-margin: 7em;
$footer-copyright-fontsize: 1rem;
$footer-socialmedia-icon-width: 4em;
/* ------------------------------------------------ */
$paragraph-h3-size: 2.3em;
$paragraph-text-size: 1.5em;
/* ------------------------------------------------ */
$main-backgroundimage-stickytopValue: -275px;
/* ------------------------------------------------ */
$grid-index-margin: 20%;
$grid-studio-margin: 5%;
$grid-margin-top-down: 4em;
$grid-margin-prestations-big-down: 10em;
$grid-gap: 2em;
/* ------------------------------------------------ */
$img-border-width: 0.1em;
$img-border-color: rgba(149, 149, 149, 0.555);
$img-box-shadowcolor: rgba(172, 172, 172, 0.548);








/* NOT USED FOR TESTING PURPOSE------------------------------------------ */
$test-de-text: test;
// grid-template-areas: "#{$test-de-text}"; pour voir la variable entre "" 
$test-row-valeurs: 1fr 1fr 0.1fr
