/**
 * Basic typography style for copy text
 */
// body {
//   color: $text-color;
//   font: normal 125% / 1.4 $text-font-stack;
// }

body {
    font-size: 10px;
  }

  .h3-default {
    font-family: $font-h3-default;
    font-size: $paragraph-h3-size;
  }
  .paragraph-default {
    font-family: $font-p-default;
    font-size: $paragraph-text-size;
  }

  